In [61]:
import pandas as pd
df = pd.read_csv("DataSet/aapl.csv",parse_dates=["Date"], index_col="Date")
# df = pd.read_csv("DataSet/AppleHistoricalQuotes.csv") # Normal csv read
# df = pd.read_csv("DataSet/AppleHistoricalQuotes.csv",parse_dates=["Date"], index_col="Date")
df.head(10)

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-06-30  144.45  144.96  143.78  144.02  23024107
2017-06-29  144.71  145.13  142.28  143.68  31499368
2017-06-28  144.49  146.11  143.16  145.83  22082432
2017-06-27  145.01  146.16  143.62  143.73  24761891
2017-06-26  147.17  148.28  145.38  145.82  25692361
2017-06-23  145.13  147.16  145.11  146.28  35439389

In [ ]:
df.index

What is DatetimeIndex? Benefits of it

(1) Partial Date Index: Select Specific Months Data

In [ ]:
# df[df.index == ‘2017-01-07’] 
df.loc['2017-01']
# df['2021-01-12'] #I dont kno why the **** i cannot acces it directly though i convert it as index

In [ ]:
df.loc['2017-06'].head()

Average price of aapl's stock in June, 2017

In [ ]:
df.loc['2017-06'].Close.mean()

In [ ]:
df.loc['2017'].head(2)

(2) Select Date Range

In [ ]:
df['2017-01-08':'2017-01-03']

In [ ]:
df.loc['2017-01']

#### Resampling

In [ ]:
df['Close'].resample('M').mean().head()

In [ ]:
df.loc['2016-07']

In [ ]:
%matplotlib inline
df['Close'].plot()

In [ ]:
df['Close'].resample('M').mean().plot(kind='bar')

## Apple Stock Data

In [57]:
apple = pd.read_csv("DataSet/AppleHistoricalQuotes.csv",parse_dates=["Date"], index_col="Date")

In [59]:
apple.index

DatetimeIndex(['2021-01-25', '2021-01-22', '2021-01-21', '2021-01-20',
               '2021-01-19', '2021-01-15', '2021-01-14', '2021-01-13',
               '2021-01-12', '2021-01-11',
               ...
               '2016-02-08', '2016-02-05', '2016-02-04', '2016-02-03',
               '2016-02-02', '2016-02-01', '2016-01-29', '2016-01-28',
               '2016-01-27', '2016-01-26'],
              dtype='datetime64[ns]', name='Date', length=1259, freq=None)

In [60]:
apple.columns

Index([' Close/Last', ' Volume', ' Open', ' High', ' Low'], dtype='object')

In [65]:
apple[" Open"]

Date
2021-01-25      $143.07
2021-01-22      $136.28
2021-01-21       $133.8
2021-01-20      $128.66
2021-01-19      $127.78
                ...
2016-02-01     $24.1175
2016-01-29     $23.6975
2016-01-28     $23.4475
2016-01-27       $24.01
2016-01-26     $24.9825
Name:  Open, Length: 1259, dtype: object